@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Geist:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #005c55;
  --color-primary-light: #0f766e;
  --color-primary-container: #a3faef;
  --color-on-primary: #ffffff;
  --color-secondary: #50616b;
  --color-secondary-container: #d3e5f1;
  --color-tertiary: #005e3f;
  --color-tertiary-container: #99ffcd;
  
  --font-sans: "Inter", sans-serif;
  --font-display: "Geist", "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}
